<%= form_with(model: @post, local: true, multipart: true) do |form| %>
  <% if post.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(post.errors.count, "error") %> prohibited this post from being saved:</h2>

      <ul>
        <% post.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div>
    <%= form.label :title, style: "display: block" %>
    <%= form.text_field :title %>
  </div>

  <div>
    <%= form.label :body, style: "display: block" %>
    <%= form.text_area :body %>
  </div>

  <div>
    <%= form.label :image %>
      <%= form.file_field :image, accept: 'image/jpeg,image/png', max: 5.megabytes %>
  </div>

  <% if post.persisted? && post.image.attached? %>
    <div>
      <%= image_tag post.image %>
      <%= form.check_box :remove_image %>
      <%= form.label :remove_image, "Remove image" %>
    </div>
  <% end %>

  <div>
    <%= form.submit %>
  </div>
<% end %>
